*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;

/*     border: 1px solid rgb(0, 0, 0); */
}
body{
    border: 3px solid black;
}

header, main, footer{
    padding: 5%;
    border: 1px solid rgb(77, 77, 77);
}