        .headerMobile{
           width: min(100%, 300px);
           border: 1px solid  rgba(139, 139, 139, 0.295);
           left:-500px;
           position: absolute;
           top:30px;
           background-color: white;
           transition: left 1s;
        }

        .testTop{
            background-color: rgba(139, 139, 139, 0.295);
            padding: 3%;
            display: grid;
            grid-template-columns: repeat(4, auto);
            margin: 0;
            align-items: center;

        }
        .testTop a{
            text-decoration: none;
            color: black;
            margin: 10px;
        }
        .testBottom{
            display: grid;
            grid-template-rows: repeat(10, auto);
            gap: 20px;
            padding: 2%;

        }
        .testBottom b{
            border-bottom: 1px solid black;
            margin: 0;
            padding: 3%;
        }
        .testbottom a{
            color: black;
        }
        
        .testTop .MAN:hover{

            text-decoration: underline;
        }
        .testTop .WOMEN:hover{

            text-decoration: underline;
        }
        .testTop .JUNIOR:hover{

            text-decoration: underline;
        }
        #testTop1 .MAN{
            font-weight: bold;
   
        }
        #testTop2 .women{
            font-weight: bold;
   
        }
        #testTop3 .JUNIOR{
            font-weight: bold;
   
        }
        .removeMenu{
            align-self: center;
            font-size: 2.5rem;
            cursor: pointer;
        }
        
