/* ===== MOBILE MENU WRAPPER ===== */
/* *{
    border: 1px solid red;
} */
.headerMobile{
  width: min(100%, 300px);
  position: absolute;
  top: 30px;
  left: -500px;
  background-color: white;
  border: 1px solid rgba(139, 139, 139, 0.295);
  transition: left 1s;
}

/* ===== TOP LINKS (MÄN / KVINNOR / BARN + X) ===== */
.testTop{
  background-color: rgba(139, 139, 139, 0.295);
  padding: 3%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  padding-left: 20px;
}

/* wrapper runt varje länk */
.testTop .linkBox{
  width: max-content;
  display: grid;
  gap: 4px;
}

/* själva länken */
.testTop a{
  text-decoration: none;
  color: black;
  margin-top: 10px;
}

/* underline */
.testTop .menyBorder{
  width: 0;
  height: 2px;
  background: black;
  display: block;
  border: 0;
  padding: 0;
  transition: width 0.6s ease;
}

/* hover-effekt */
.testTop .linkBox:hover .menyBorder{
  width: 100%;
}

/* aktiv kategori */
#testTop1 .MAN{ font-weight: bold; }
#testTop2 .women{ font-weight: bold; }
#testTop3 .JUNIOR{ font-weight: bold; }

/* stäng-knapp */
.removeMenu{
  align-self: center;
  font-size: 2.5rem;
  width: 25px;
  cursor: pointer;
  margin: 0%;
  padding: 0%;
}

/* ===== BOTTOM LINKS ===== */
.testBottom{
  display: grid;
  grid-template-rows: repeat(10, auto);
  
  
}
 
.testBottom a{
  color: black;
  padding: 4%;
}

.testBottom b{
  border-bottom: 1px solid black;
  padding: 3%;
}

.testBottom .NYHETER:hover{
  background-color: rgba(139, 139, 139, 0.425);
  transition: 0.2s;
}

.testBottom .KLÄDER:hover{
  background-color: rgba(139, 139, 139, 0.425);
  transition: 0.2s;
}

.testBottom .DENIM:hover{
  background-color: rgba(139, 139, 139, 0.425);
  transition: 0.2s;
}

.testBottom .SKOR:hover{
  background-color: rgba(139, 139, 139, 0.425);
  transition: 0.2s;
}

.testBottom .ACCESSOARER:hover{
  background-color: rgba(139, 139, 139, 0.425);
  transition: 0.2s;
}

.testBottom .REA:hover{
  background-color: rgba(139, 139, 139, 0.425);
  transition: 0.2s;
}

.testBottom .PREMIUM:hover{
  background-color: rgba(139, 139, 139, 0.425);
  transition: 0.2s;
}

.testBottom .PLUSSIZE:hover{
  background-color: rgba(139, 139, 139, 0.425);
  transition: 0.2s;
}

.testBottom .JUL:hover{
  background-color: rgba(139, 139, 139, 0.425);
  transition: 0.2s;
}
