*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
    

    border: 1px solid rgba(0, 0, 0, 0);
}
body{
    border: 1px solid rgba(139, 139, 139, 0.295);
}
header, main, footer{
    border: 1px solid rgba(139, 139, 139, 0.295);
    
}
main, footer{
    padding: 3%;
}
main{
    background-color: rgba(139, 139, 139, 0.295);
    min-height: 1000px;
}
header{
    display: grid;
    height: 70px;
}
.mobileMode{
    display: grid;
    grid-template-columns: auto 1fr auto auto auto auto;
    align-items: center;
}
span{
    font-size: 30px;
    line-height: 30px;;
}
.mobileMode h1{
    text-align: center;
    align-self: center;
}
.menuButton{
    font-size: 35px;
}
.bi{
    font-size: 20px;
}
