@import 'menu.css';

/* ========== GLOBAL BASE ========== */
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0);
}
body{
    border: 1px solid rgba(139, 139, 139, 0.295);
}
header, main, footer{
    border: 1px solid rgba(139, 139, 139, 0.295);
}
main, footer{
    padding: 3%;
}

/* ========== TOP MESSAGE ========== */
.message{
    background-color: black;
    color: white;
    text-align: center;
}

/* ========== HEADER ========== */
header{
    display: grid;
}

/* Logo */
.mobileMode h1{
    text-align: center;
    align-self: center;
}

/* ===== menu mobile ===== */
.Meny950px{
    display: none;
    font-weight: bold;
}
.Meny950px .nyheter:hover{text-decoration: underline;}
.Meny950px .KLÄDER:hover{text-decoration: underline;}
.Meny950px .DENIM:hover{text-decoration: underline;}
.Meny950px .SKOR:hover{text-decoration: underline;}
.Meny950px .ACCESSOARER:hover{text-decoration: underline;}
.Meny950px .REA:hover{text-decoration: underline;}
.Meny950px .PREMIUM:hover{text-decoration: underline;}
.Meny950px .PLUSSIZE:hover{text-decoration: underline;}
.Meny950px .JUL:hover{text-decoration: underline;}

/* Top menu MÄN / KVINNOR / BARN (mobile default) */
.normalmeny{
    display: none;
    position: absolute;
}

.visible{
    left:0px;
}

.hidden{
    display: block;
}

/* ===== menu >950px ===== */
@media(min-width:950px){
    .mobileMode h1{
        font-size: 4rem;
    }
    .menuButton{
        display: none;
    }
    .MenyIndent{
        border: 1px solid rgba(139, 139, 139, 0.295);
    }
    .Meny950px{
        display: grid;
        grid-template-columns: repeat(10, auto);
        align-items: center;
        margin: 1.5%;
        font-size: 12px;
        place-items: center;
        margin-left: 10%;
        margin-right: 10%;
        color: black;
    }
    .Meny950px a{
        color: black;
    }
    .normalmeny{
        display: block;
    }
}

/* ===== top category menu styling ===== */
.normalmeny a{
    text-decoration: none;
    color: black;
    margin: 10px;
}

.normalmeny{
    padding-top: 40px;
}

#mobilemode1 .MAN{font-weight: bold;}
#mobilemode2 .women{font-weight: bold;}
#mobilemode3 .JUNIOR{font-weight: bold;}

.normalmeny .MAN:hover{text-decoration: underline;}
.normalmeny .WOMEN:hover{text-decoration: underline;}
.normalmeny .JUNIOR:hover{text-decoration: underline;}

/* Burger and icons */
.mobilemode{
    align-items: center;
    place-items: center;
}
span{
    font-size: 30px;
    line-height: 30px;
}

.menuButton{
    font-size: 35px;
    margin-left: 8px;
    position: absolute;
    cursor: pointer;
}

/* ========== MAIN ========== */
main{
    background-color: rgba(139, 139, 139, 0.295);
    min-height: 1000px;
}

/* ========== FOOTER ========== */
footer{
    background-color: black;
    color: white;
}

.headers{
    display: grid;
    font-weight: bold;
}

.links .headers2{
    display: grid;
    font-weight: bold;
    font-size: medium;
}

/* footer mobile */
.LINKS{ 
    display: grid;
    grid-template-rows: repeat(4,auto);    
    font-size: small;
}

/* keep them hidden by default */
.m1, .m2, .m3, .m4 {
    display: none;
}

/* show them with GRID when open */
.m1.open, .m2.open, .m3.open, .m4.open {
    display: grid;
    grid-template-columns: 1fr; /* en kolumn = under varandra */
    gap: 6px; /* valfritt mellanrum */
}

.border{
    border: 1px solid white;
}


/* footer hover effects */
.m1 .A1:hover{text-decoration: underline;}
.m1 .A2:hover{text-decoration: underline;}
.m1 .A3:hover{text-decoration: underline;}
.m1 .A4:hover{text-decoration: underline;}
.m1 .A5:hover{text-decoration: underline;}
.m1 .A6:hover{text-decoration: underline;}
.m1 .A7:hover{text-decoration: underline;}
.m1 .A8:hover{text-decoration: underline;}
.m1 .A9:hover{text-decoration: underline;}
.m1 .A10:hover{text-decoration: underline;}

.m2 .A1:hover{text-decoration: underline;}
.m2 .A2:hover{text-decoration: underline;}
.m2 .A3:hover{text-decoration: underline;}
.m2 .A4:hover{text-decoration: underline;}
.m2 .A5:hover{text-decoration: underline;}
.m2 .A6:hover{text-decoration: underline;}

.m3 .A1:hover{text-decoration: underline;}
.m3 .A2:hover{text-decoration: underline;}
.m3 .A3:hover{text-decoration: underline;}
.m3 .A4:hover{text-decoration: underline;}
.m3 .A5:hover{text-decoration: underline;}
.m3 .A6:hover{text-decoration: underline;}
.m3 .A7:hover{text-decoration: underline;}
.m3 .A8:hover{text-decoration: underline;}
.m3 .A9:hover{text-decoration: underline;}

.m4 .A1:hover{text-decoration: underline;}
.m4 .A2:hover{text-decoration: underline;}
.m4 .A3:hover{text-decoration: underline;}


/* ===== footer >950px ===== */
@media(min-width:950px){
    .headers{
        grid-template-columns: repeat(4,1fr);
    }

    .LINKS{ 
        font-size: small;
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }

    .border{
        display: none;
    }

    .hidden{
        display: grid;
    }
}
