*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0);
}
body{
    border: 1px solid rgba(139, 139, 139, 0.295);
}
header, main, footer{
    border: 1px solid rgba(139, 139, 139, 0.295);
    
}
main, footer{
    padding: 3%;
}
/* start top MESSAGE */
.message{
    background-color: black;
    color: white;
    text-align: center;
}
/* SLUT top MESSAGE */
/* START HEADER */
header{
    display: grid;

}
/* start titel */
.mobileMode h1{
    text-align: center;
    align-self: center;
}
.Meny950px{
    display: none;
}
@media(min-width:950px){
    .mobileMode h1{
        font-size: 4rem;
    }
    .menuButton{
        display: none;
    }
    .MenyIndent{
        border: 1px solid rgba(139, 139, 139, 0.295);
    }
    .Meny950px{
        display: grid;
        grid-template-columns: repeat(10, auto);
        align-items: center;
        margin: 1.5%;
        font-size: 12px;
        place-items: center;
        margin-left: 10%;
        margin-right: 10%;

    }
    
}
/* end titel */
.normalmeny a{
    text-decoration: none;
    color: black;
    margin: 10px;
}
.normalmeny{
    position: absolute;
    top: 65px;
    left: 25px;

}
.normalmeny .MAN{
    font-weight: bold;
   
}
.normalmeny .MAN:hover{

    text-decoration: underline;
}
.normalmeny .WOMEN:hover{

    text-decoration: underline;
}
.normalmeny .JUNIOR:hover{

    text-decoration: underline;
}

.mobileMode{
    display: grid;
    grid-template-columns: auto 1fr auto auto auto auto;
    align-items: center;
}
span{
    font-size: 30px;
    line-height: 30px;;
}

.menuButton{
    font-size: 35px;
}
.bi{
    font-size: 20px;
}


/* SLUT HEADER */
/* main start */
main{
    background-color: rgba(139, 139, 139, 0.295);
    min-height: 1000px;
}

/* main slut */
/* START FOOTER */
footer{
    background-color: black;
    color: white;
}
.headers{
    display: grid;
    font-weight: bold;
}

@media(min-width:950px){
    .headers{
    grid-template-columns: repeat(4,1fr);
    }
   
}
/* END FOOTER*/
 .LINKS{ 
    font-size: small;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    }