*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
    

    border: 1px solid rgba(0, 0, 0, 0);
}
body{
    border: 1px solid rgba(139, 139, 139, 0.295);
}
header, main, footer{
    border: 1px solid rgba(139, 139, 139, 0.295);
    
}
main, footer{
    padding: 3%;
}
/* START MESSAGE */
.message{
    background-color: black;
    color: white;
    text-align: center;
}
/* SLUT MESSAGE */
/* START HEADER */
header{
    display: grid;
    min-height: 70px;
}
/* start titel */
.mobileMode h1{
    text-align: center;
    align-self: center;
}
@media(min-width:950px){
    .mobileMode h1{
        font-size: 4rem;
    }
}
/* end titel */
.mobileMode{
    display: grid;
    grid-template-columns: auto 1fr auto auto auto auto;
    align-items: center;
}
span{
    font-size: 30px;
    line-height: 30px;;
}

.menuButton{
    font-size: 35px;
}
.bi{
    font-size: 20px;
}
/* SLUT HEADER */
/* main start */
main{
    background-color: rgba(139, 139, 139, 0.295);
    min-height: 1000px;
}

/* main slut */
/* START FOOTER */
footer{
    background-color: black;
    
}
/* END FOOTER*/
