*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;

/*     border: 1px solid rgb(0, 0, 0); */
}
body{
    border: 3px solid black;
}

header, main, footer{
    padding: 5%;
    border: 1px solid rgb(77, 77, 77);
}
/* header börjar här */

.mobilemode{
    display: grid;
    grid-template-columns: 1fr auto;
}
.mobilemode h1{
    place-self: center;
    
}


.h1{
    place-items: center;
}
div{align-items: center;}

/* menyn börjar här */
nav{
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 3%;
    display: grid;
    gap: 5%;
}

a{
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 2%;
}

.menuButton{
    font-size: 2.4rem;
    line-height: 1rem;;
}

#MenuButton{
    top:20px;
    right:30px;
    position: absolute;/* FARLIG */
}
#accountButton{
    top:20px;
    left:30px;
    position: absolute;/* FARLIG */
}
#searchButton{
    top:20px;
    left:60px;
    position: absolute;/* FARLIG */
}

html{
    scroll-behavior: smooth;
}

.hidden{
    display: none;
}


@media(min-width:600px){

/* nav start */
    nav{
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;

    }
    .hidden{
        display: grid;
    
    }

    #MenuButton{
        display: none;
    }
/* nav slut */

}

/* menyn tar slut här */

/* header slutar här */

.contact{
    font-size: 0.9rem;
}
